<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd">

    <bean id="p1" class="indi.mofan.converter.Person">
        <property name="id" value="1"/>
        <property name="birthday" value="2022-01-01"/>
    </bean>

    <!--  Spring 创建 类型对象  -->
    <bean id="myDateConverter" class="indi.mofan.converter.MyDateConverter">
        <property name="pattern" value="yyyy-MM-dd"/>
    </bean>

    <!--  用于注册类型转换器  -->
    <bean id="conversionService" class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <ref bean="myDateConverter"/>
            </set>
        </property>
    </bean>

</beans>